@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Merriweather", serif !important; /* Premium, editorial-style font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8); /* Clean white gradient */
  color: #333333; /* Dark gray text for readability */
}
